<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>s
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaishnavi Palasamudrum</title>
    <meta name="author" content="Vaishnavi Palasamudrum">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vaishnavi Palasamudrum professional website">
</head>
<body onload = "addYear()">
    <header>
        <h1 id="webname">
            vaishnavi palasamudrum
        </h1>
        <nav><a href="../index.html">home</a>
            <a href="cv.html">resume</a>
            <a href="contact.html">contact</a>
            <a href="fun.html">fun</a></nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>B.S. in Information Systems; Dean's High Honors List</td>
            </tr>
            <tr>
                <td>Northeastern University</td>
                <td>Research assistant internship; published a paper to presented at a global conference.</td>
            </tr>
            <tr>
                <td>John P Stevens High School</td>
                <td>Earned high school diploma; GPA: 4.0 (unweighted); 5.6 (weighted)</td>
            </tr>
            <tr>
                <td>John Adams Middle School</td>
                <td>High Honors List</td>
            </tr>
        </table>
        <p>
            <a href="../static/resume.pdf" target="_blank">My resume (pdf)</a>
        </p>        
    </div>
    <footer>
        <p id="copyYear"> designed and coded by Vaishnavi Palasamudrum &copy</p>
    </footer>
    
</body>
</html>