<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaishnavi Palasamudrum</title>
    <meta name="author" content="Vaishnavi Palasamudrum">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vaishnavi Palasamudrum professional website">
</head>
<body onload = "addYear()">
    <header>
        <h1 id="webname">
            vaishnavi palasamudrum
        </h1>
        <nav><a href="../index.html">home</a>
            <a href="cv.html">resume</a>
            <a href="contact.html">contact</a>
            <a href="fun.html">fun</a></nav>
    </header>
    <div class="mainLayout">
          <div class="item1"><h2>Things I love to do for fun</h2>
            <!-- <button id="SeeMoreBTN" onclick="showList()">Click to see...</button> -->
            <ul id="FavList">
                <li>Travel</li>
                <li>Cook/bake</li>
                <li>Listen to music</li>
                <li>Hang out with friends</li>
              </ul></div>
          <div class = "item2">
            <img class ="funIMG" src = "../static/friends.JPG">
          </div>
          <div class="item3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1OF3icemRJc?si=9dogGSak-nhSASZx" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="item4">
            <div class = "container">
                <h2>Need some advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button id="SeeMoreBTN" onclick="getAdvice()">Get Advice</button>
            </div>
          </div>
    </div>
    <footer>
        <p id="copyYear"> designed and coded by Vaishnavi Palasamudrum &copy</p>
    </footer>
    
</body>
</html>