<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Vaishnavi Palasamudrum">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vaishnavi Palasamudrum professional website">
    <title>Vaishnavi Palasamudrum</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1 id="webname">
            vaishnavi palasamudrum
        </h1>
        <nav><a href="../index.html">home</a>
            <a href="cv.html">resume</a>
            <a href="contact.html">contact</a>
            <a href="fun.html">fun</a></nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Travel</li>
            <li>Cook/bake</li>
            <li>Listen to music</li>
            <li>Hang out with friends</li>
          </ul>
    </div>
    <footer>
        © 2025 designed and coded by Vaishnavi Palasamudrum
    </footer>
    
</body>
</html>