* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 5px;
    margin: 5px;
}


#webname {
    background-color: #2b2d42;
    color: white;
}

body {
    background-color: #edf2f4;
}

nav a {
    text-decoration: None;
    color: #2b2d42;
    margin-right: 15px;

}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #2b2d42;
    color: white;
    width: fit-content;
}

table tr:nth-child(even) {
    background-color: #8d99ae;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

button {
    background-color: #2b2d42;
    color: white;
    border: none;
    border-radius: 5px;
}

/* #FavList {
    display: none;
} */

#readLess {
    display: none;
}

#longIntro {
    display: none;
}

.readmoreless {
    background-color: #2b2d42;
    color: white;
    border: none;
    border-radius: 5px;
}

.funIMG {
    border-radius: 100%;
    width:400px;
    height:300px;
}

.container {
    border-radius: 100%; 
    display: inline-block;
    border-radius: 5%; 
    box-shadow: 5px 5px 10px grey;
}

.mainLayout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
